<footer role="contentinfo" id="site-footer">
	<!-- <img src="http://localhost:4000/assets/images/f1.jpg" class="page-feature-image" alt="Кафе Maxim" id="my2" style="margin-bottom:  1em;"> -->

	<nav role="navigation" class="menu bottom-menu">
		<ul class="menu-item">
		{% for link in site.data.footer %}
			<li><a href="{{ domain }}{{ link.url }}" target="_blank">{{ link.title }}</a></li>
		{% endfor %}
		<li>
		<a >
			
		</a>
		</li>
		 
		</ul>



<!-- 		<ul class="menu-item rr">
			<li><a href="{{ domain }}{{ link.url }}" target="_blank">{{ link.title }}</a> </li>
		</ul>
 -->
		<!-- <li><a href="{{ domain }}{{ link.url }}" target="_blank"> Расстояние <span id="mm"></span></a></li> -->

	</nav><!-- /.bottom-menu -->
	<p class="copyright">&#169; {{ site.time | date: '%Y' }} <a href="{{ site.url }}">{{ site.title }}</a> разработка <a href="https://7dir.github.io/" rel="nofollow">Mltefive</a> + <span style="color: blue;" id="mm">Расчет расстояния</span></p>
</footer>