<footer role="contentinfo" id="site-footer">
	<nav role="navigation" class="menu bottom-menu">
		<ul class="menu-item">
		{% for link in site.data.footer %}
			<li><a href="{{ domain }}{{ link.url }}" target="_blank">{{ link.title }}</a></li>
		{% endfor %}
		</ul>
	</nav><!-- /.bottom-menu -->
	<p class="copyright">&#169; {{ site.time | date: '%Y' }} <a href="{{ site.url }}">{{ site.title }}</a> разработка <a href="https://7dir.github.io/" rel="nofollow">Mltefive</a> + <span style="color: blue;" id="mm">Расчет расстояния</span></p>
</footer>